.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
    padding-bottom: 65px;
    max-width: 1680px;
    margin: 0 auto;
    background-image: url(./background.png);


    * {
        color: var(--color-white);
    }

    .title {
        margin-bottom: 20px;
    }

    .subtitle{
       width: 406px;
       text-align: center;
    }

    form {
        margin-top: 40px;
        max-width: 930px;
        width: 100%;
    }

    .row {
        display: flex;
        gap: 30px;
        margin-bottom: 22px;

        >input {
            max-width: 540px;
            width: 100%;
            color: var(--color-black);
        }

        >button {
            max-width: 360px;
            width: 100%;
        }

    }

    .privacyPolicy {
        display: inline-block;
        max-width: 450px;

        color: #D6D7DD;
    }

}