.em {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;


    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #FF946E;
    text-underline-offset: 8px;
}