.title {
    font-family: 'Nunito';
    font-style: normal;

    font-weight: 700;
    color: var(--color-black);

    margin: 0;
}

.h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 122%;
}


.h2 {
    font-size: 32px;
    line-height: 44px;

    text-align: center;
    letter-spacing: 0.04em;
}