.link {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: initial;
    letter-spacing: inherit;



    text-decoration-skip-ink: none;
}

.second {
    color: var(--color-green)
}

.default {
    color: #FF946E;
}