.link {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: initial;
    letter-spacing: inherit;

    color: #FF946E;

    text-decoration-skip-ink: none;
}