.wrapper {
    max-width: 653px;

    margin-top: 248px;

    >span {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 15px;
        line-height: 166%;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: #9FA0A7;
    }
}

.title {
    margin-bottom: 40px;
}

.paragraph{
    margin-bottom: 60px;
}

.row{
    display: flex;
    align-items: baseline;
    gap: 60px;
}