.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    padding: 20px 35px 24px 35px;

    background: #FFFFFF;

    box-shadow: 0px 5px 30px rgba(215, 211, 225, 0.5);
    border-radius: 16px;
}

.icon{
    width: 70px;
    height: 70px;
}

