html {
    box-sizing: border-box;
    height: 100%;

}

*,
*::before,
*::after {
    box-sizing: inherit; 
}

body {
    padding: 0;
    min-width: 360px;
    min-height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

#root {
    overflow: hidden;
}