:root {
    --color-white: #FFF;
    --color-green: #14A76C;
    --color-black: #1F1D2A;
    --color-gray: #4F5569;
    --color-primary: #FF652F;
    --color-red: #E02D05;
    --gradient-blue: linear-gradient(326.12deg, #5D77FF 17.95%, #6539C1 89.78%);
}