.paragraph {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.05em;

    margin: 0;
}

.primary {
    font-size: 22px;
    text-align: center;

    color: var(--color-black);
}

.second {
    font-size: 18px;

    color: var(--color-gray);
}

.gost {
    font-size: 20px;
    line-height: 24px;

    color: var(--color-gray);
}